# Ubuntu 14.04 Trusty support
sudo: true

dist: trusty

language: cpp

compiler:
  - gcc

before_install:
  - if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi
  - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
  - sudo apt-get update -qq
  - sudo apt-get install -qq qt5-qmake qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev libsqlite3-dev

install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - git
      - cmake
      - gcc-4.8
      - g++-4.8
      - protobuf-compiler
      - libprotobuf-dev
      - libopencv-dev
      - libzmq3
      - libzmq3-dev
      - libboost-all-dev
      
script:
  - ./configure.sh